@model Corno.Raychem.CustomerPortal.Areas.Wallet.Models.UserDMTAgentRT
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.BootstrapEditorTemplates.cshtml";
}

<div class="container-fluid">
    <div class="row" style="background-color: darkred; color: white">
        <div class="col-md-6">
            <h4>Agent</h4>
        </div>
    </div>
</div>

<div class="form-horizontal well">
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-4 column">
            @Html.EditorFor(m => m.AgentId)
        </div>
        <div class="col-md-4 column">
            @Html.EditorFor(m => m.UserName)
        </div>
        <div class="col-md-4 column">
            @Html.EditorFor(m => m.PermanentAddress)
        </div>
        <div class="col-md-4 column">
            @Html.EditorFor(m => m.PinCode)
        </div>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", null, new { @Class = "btn btn-small btn-primary" })
        </div>
    }
</div>
